html {
  scroll-behavior: smooth;
  transition: 0;
}

body {
  justify-content: center;
  margin: 0;
}
body > * {
  font-family: "Poppins";
}

#main > * {
  padding: 100px 180px;
  min-height: 350px;
}

#hcontainer {
  display: flex;
  background-color: aqua;
  max-width: 100vw;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(66, 73, 82);
  border-radius: 100px;
  max-height: 70px;
  margin-top: 20px;
  box-shadow: 0 6px 15px rgb(26, 31, 38);
  position: fixed;
  width: 90%;
  max-width: 1800px;
  box-sizing: border-box;
  z-index: 2;
}
.header h2 {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
.header #content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 50px;
}
.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  gap: 70px;
  white-space: nowrap;
  font-size: 18px;
}
.header ul a {
  color: rgb(224, 228, 237);
  text-decoration: none;
  transition: color 0.2s ease-out 50ms, text-shadow 0.2s ease-out 50ms;
}
.header ul a:hover {
  color: aliceblue;
  text-shadow: 0 0 0.5em rgb(37, 43, 52);
}
.header ul a:active {
  color: rgb(224, 228, 237);
  text-shadow: none;
}

#header-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 150px;
  background-color: rgb(136, 150, 172);
  border-radius: 100px;
  position: absolute;
  transform: translateX(42%);
  font-size: 18px;
  font-weight: bold;
  color: rgb(37, 43, 52);
  box-shadow: 0 0 5px rgb(26, 31, 38);
  z-index: 3;
}

#page1 {
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(37, 43, 52);
  padding-top: 200px;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#page1 > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#page1 > div .info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#page1 button {
  margin-top: 20px;
}
#page2 {
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(136, 150, 172);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page2 h2 {
  color: rgb(37, 43, 52);
}
#page2 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
#page2 div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#page2 div div div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}
#page2 div div img {
  max-width: 150px;
  height: auto;
}

#page3 {
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(37, 43, 52);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 100px;
  flex-wrap: wrap;
  flex-direction: column;
}
#page3 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#page3 div .card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  background-color: rgb(136, 150, 172);
  width: 300px;
  height: 200px;
  border-radius: 20px;
  transition: box-shadow 0.2s ease-out 50ms;
  padding: 8px;
  overflow: hidden;
  flex-wrap: nowrap;
}
.card p {
  height: 0;
  margin: 0px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.35s ease-out 25ms;
}
.card #text-container {
  margin-top: 3%;
  margin-bottom: 2%;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card #text-container * {
  margin: 0;
}
.card #text-container h3 {
  color: rgb(37, 43, 52);
}
.card #text-container h4 {
  color: rgb(214, 220, 230);
  font-size: 14px;
  font-weight: 100;
}
.card #img-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  transition: height 0.4s ease-out 10ms;
  overflow: hidden;
  flex-grow: 0;
}
.card #img-container img {
  width: 100%;
  height: auto;
}
.card #img-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: 0.2s ease-out 50ms;
}
.card #img-container div h3 {
  color: aliceblue;
  text-shadow: 0 0 10px black;
  font-weight: 200;
  opacity: 0;
  transition: 0.2s ease-out 50ms;
  font-size: 16px;
}
.card #img-container div:hover {
  background: rgba(0, 0, 0, 0.2);
}
.card #img-container div:hover h3 {
  opacity: 1;
}

.card:hover {
  box-shadow: 0 0 13px rgb(26, 31, 38);
}
.card:hover #img-container {
  height: 50%;
}
.card:hover p {
  opacity: 1;
}

#page4 {
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(136, 150, 172);
  padding-top: 100px;
}

h2 {
  font-size: 1.6em;
  color: aliceblue;
}

p {
  font-size: 1em;
  color: aliceblue;
}

button {
  border-radius: 50px;
  font-size: 18px;
  background-color: rgb(66, 73, 82);
  width: 100px;
  height: 40px;
  border: 0;
  box-shadow: 0px 0px 8px rgb(26, 31, 38);
  color: aliceblue;
}

@media screen and (min-width: 1500px) {
  #page2 {
    align-items: center;
  }
}
@media screen and (min-width: 2061px) {
  #page2 > div, #page3 > div, #page1 > div {
    width: 1700px;
  }
  #page2 {
    justify-content: center;
  }
  #page3 {
    align-items: center;
  }
}/*# sourceMappingURL=portfolio.css.map */