$text-color: aliceblue;
$primary: rgba(37, 43, 52, 1);
$secondary: rgb(136, 150, 172);
//$secondary: rgba(217, 217, 217, 1);
$hover: rgb(255, 255, 255);
$dark-shadow: rgb(26, 31, 38);

$card-transition: 0.35s ease-out 25ms;
$overlay-transition: 0.2s ease-out 50ms;


html {
    scroll-behavior: smooth;
    transition: 0;
}

@mixin list-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}


@mixin page ($pageColor) {

    height: 100vh;
    box-sizing: border-box;
    background-color: $pageColor;
}

body {
    > * {
        font-family: "Poppins";
    }
    justify-content: center;
    margin: 0;
}

#main {
    > * {
        padding: 100px 130px;
        min-height: 350px;
    }
}

#hcontainer {
    display: flex;
    background-color: aqua;
    max-width: 100vw;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(66, 73, 82, 1);
    border-radius: 100px;
    max-height: 70px;
    margin-top: 20px;
    box-shadow: 0 6px 15px rgb(26, 31, 38);
    position: fixed;
    width: 100%;
    max-width: 90%;
    box-sizing: border-box;
    z-index: 5;

    h2 {
        display: flex;
        white-space: nowrap;
        overflow: hidden;
    }

    #content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 50px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        gap: 30px;
        white-space: nowrap;
        font-size: 18px;

        a {
            color: rgb(224, 228, 237);
            text-decoration: none;
            transition: color 0.2s ease-out 50ms, text-shadow 0.2s ease-out 50ms;
        }

        a:hover {
            color: $text-color;
            text-shadow: 0 0 0.5em $primary;
        }

        a:active {
            color: rgb(224, 228, 237);
            text-shadow: none;
        }
    }

}

#header-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 150px;
    background-color: $secondary;
    border-radius: 100px;
    position: fixed;
    right: 50%;
    font-size: 18px;
    font-weight:bold;
    color: $primary;
    box-shadow: 0 0 5px rgb(26, 31, 38);
}

#page1 {
    @include page($primary);
    padding-top: 200px;
    scroll-behavior: smooth;
    @include flex(row, flex-start,  center);
    button {
        margin-top: 20px;
    }

    button:hover {

    }
}

#page2 {
    @include page($secondary);
    @include list-page();
    h2 {
        color: $primary;
    }
    div {
        @include flex(column, flex-start, flex-start);
        div {
            @include flex(row, flex-start, flex-start);
            gap: 40px;
            margin-top: 20px;

        }

        img {
            max-width: 15vh;
            height: auto;
        }
    }
}

#page3 {
    @include page($primary);
    height: fit-content;
    @include list-page();
    padding-top: 100px;
    flex-wrap: wrap;
    flex-direction: column;

    div {
       @include flex(column, flex-start, flex-start);
       .card-container {
        @include flex(row, flex-start, flex-start);
        gap: 30px;
        flex-wrap: wrap;
       }
    }
}

.card {
    @include flex(column, right, center);
    background-color: $secondary;
    width: 320px;
    height: 200px;
    border-radius: 20px;
    transition: box-shadow 0.2s ease-out 50ms;
    padding: 8px;
    overflow: hidden;
    flex-wrap: nowrap;

    p {
        height: 0;
        margin-top: 3%;
        font-size: 12px;
        opacity: 0;
        transition: opacity $card-transition;
    }    

    #text-container {
        margin-top: 3%;
        margin-bottom: -2%;
        width: 100%;
        height: min-content;
        @include flex(row, space-between, center);

        //flex-grow: 1;

        * {
            margin: 0;
        }

        h3 {
            color: $primary;
        }

        h4 {
            color: rgb(214, 220, 230);
            font-size: 14px;
            font-weight: 100;
        }
        
    }

    #img-container {
        position: relative;
        @include flex(row, center, center);
        width: 100%;
        height: 100%;
        border-radius: 13px;
        transition: height 0.4s ease-out 10ms;
        overflow: hidden;
        flex-grow: 0;

        img {
            width: 100%;
            height: auto;
            //transition: width $card-transition, height $card-transition;
            //filter: brightness(0.2);
        }

        div {
            @include flex(row, center, center);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.0);
        
            h3 {
                color: aliceblue;
                text-shadow: 0 0 10px black;
                font-weight: 200;
                opacity: 0;
                transition: $overlay-transition;
                font-size: 16px;
            }  
            transition: $overlay-transition;
        }

        div:hover {
            background: rgba(0, 0, 0, 0.2);

            h3 {
                opacity: 1;
            }
        }
    }
}

.card:hover {
    box-shadow: 0 0 13px $dark-shadow;
    #img-container {
        height: 50%;
       // transition: height 0.5s ease-out 0ms;
        // img { 
        //     width: 105%;
        //     height: auto;
        // }
    }

    p {
        opacity: 1;
    }


}

#page4 {
    @include page($secondary);
    padding-top: 100px;
}

.info {
    max-width: 400px;
}

h2 {
    font-size: 1.6em;
    color: $text-color;
}

p {
    font-size: 1em;
    color: $text-color;
}

button {
    border-radius: 8px;
    font-size: 18px;
    background-color: rgba(66, 73, 82, 1);
    width: 100px;
    height: 40px;
    border: 0;
    box-shadow: 0px 0px 8px rgb(26, 31, 38);
    color: $text-color;
}




@media screen and (max-width: 900px) {

    #main > div {
        height: max-content;
        min-height: 100vh;
        padding: 100px 10vw;
    }

    #page2 > div > div{
        flex-wrap: wrap;

        img {
            min-width: 10vw;
        }
    }

}

@media screen and (min-width: 1500px) {

    #main > div {
        padding: 100px 15%;
    }

    .header {
        max-width: 1349px;
    }

    #page2 > div {
        width: 1300px;
    }

    #page2 {
        align-items: center;
    }

}
