$light-text: aliceblue;
$dark-text: rgba(37, 43, 52, 1);
$primary: rgba(37, 43, 52, 1);
$secondary: rgb(136, 150, 172);
$extra: rgba(66, 73, 82, 1);
//$secondary: rgba(217, 217, 217, 1);
$hover: rgb(255, 255, 255);
$dark-shadow: rgb(26, 31, 38);

$card-transition: 0.35s ease-out 25ms;
$overlay-transition: 0.2s ease-out 50ms;


html {
    scroll-behavior: smooth;
    transition: 0;
}

@mixin list-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}


@mixin page ($pageColor) {
   // max-height: 1000px;
    height: fit-content;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: $pageColor;
}

body {
    > * {
        font-family: "Poppins";
    }
    justify-content: center;
    margin: 0;
}

#main {
    > * {
        padding: 100px 180px;
        //min-height: 350px;
    }
}

#hcontainer {
    display: flex;
    background-color: aqua;
    max-width: 100vw;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    background-color: $extra;
    border-radius: 100px;
    max-height: 70px;
    margin-top: 20px;
    box-shadow: 0 6px 15px rgb(26, 31, 38);
    position: fixed;
    width: 90%;
    max-width: 1800px;
    box-sizing: border-box;
    z-index: 2;
    //max-width: 1700px;


    h2 {
        display: flex;
        white-space: nowrap;
        overflow: hidden;
    }

    #header-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 50px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        gap: 70px;
        white-space: nowrap;
        font-size: 18px;
        padding: 0;

        a {
            color: rgb(224, 228, 237);
            text-decoration: none;
            transition: color 0.2s ease-out 50ms, text-shadow 0.2s ease-out 50ms;
        }

        a:hover {
            color: $light-text;
            text-shadow: 0 0 0.5em $primary;
        }

        a:active {
            color: rgb(224, 228, 237);
            text-shadow: none;
        }
    }

}

#header-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 150px;
    background-color: $secondary;
    border-radius: 100px;
    position: absolute;
    //right: 50%;
    transform: translateX(500px);
    font-size: 18px;
    font-weight:bold;
    color: $primary;
    box-shadow: 0 0 5px rgb(26, 31, 38);
    z-index: 3;
}

.info {
    max-width: 400px;
    @include flex(column, center,  flex-start);
}

#page1 {
    @include page($primary);
    padding-top: 200px;
    scroll-behavior: smooth;
    @include flex(row, center,  center);
    
    > div {
        @include flex(row, space-between,  center);
        width: 100%;
        //flex-wrap: wrap;

        img {
            max-width: 100%;
        }
    }

    button {
        margin-top: 20px;
    }

    button:hover {

    }

    
    
}



#page2 {
    @include page($secondary);
    @include list-page();
    @include flex(column, center, center);
    h2 {
        color: $dark-text;
    }

    ul {
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
        list-style: none;
        gap: 30px;
        font-size: 18px;
        padding: 0px;
        margin: 0px;

        p {
            margin: 0px;
            color: $dark-text;
        }

        li{
            @include flex(row, flex-start, center);
            gap: 10px;
            
        }

        img {
            max-height: 1em;
        }
    }

    div {
        @include flex(column, center, flex-start);
        width: 100%;
        div {
            @include flex(column, flex-start, flex-start);
            margin-bottom: 15px;
            div {
                @include flex(row, flex-start, flex-start);
                gap: 40px;
               // margin-top: 20px;
                flex-wrap: wrap;
            }
    
            img {
                max-width: 90px;
                height: auto;
            }
        }
    }


}

#page3 {
    @include page($primary);
    min-height: fit-content;
    @include list-page();
    padding-top: 100px;
    flex-wrap: wrap;
    flex-direction: column;

    div {
       @include flex(column, flex-start, flex-start);
       .card-container {
        @include flex(row, flex-start, flex-start);
        gap: 30px;
        flex-wrap: wrap;
       }
    }
}

#page4 {

    h2 {
        color: $dark-text;
    }

    p {
        color: $dark-text;
    }

    @include flex(row, center, center);

   height: fit-content;
   min-height: 70vh;
   box-sizing: border-box;
   background-color: $secondary;

   flex-wrap: wrap;

   > div {
    @include flex(row, space-between, center);
    width: 100%;
   }

   img {
    width: auto;
    height: 70%;
   }

   button {
    @include flex(row, center, center);
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 8px rgb(58, 65, 75);
   }

   .info {
    p {
        margin: 0px;
    }
   }

    #buttons {
        @include flex(row, space-between, center);
        gap: 30px;
    }

    #github {
        background-color: $primary;
        width: 110px;
    }
}

#footer {
    height: fit-content;
    height: 30vh;
    box-sizing: border-box;
    background-color: $primary;
}

.card {
    @include flex(column, right, center);
    background-color: $secondary;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    transition: box-shadow 0.2s ease-out 50ms;
    padding: 8px;
    overflow: hidden;
    flex-wrap: nowrap;

    p {
        height: 0;
        margin: 0px;
        font-size: 12px;
        opacity: 0;
        transition: opacity $card-transition;
    }    

    #text-container {
        margin-top: 3%;
        margin-bottom: 2%;
        width: 100%;
        height: min-content;
        @include flex(row, space-between, center);

        //flex-grow: 1;

        * {
            margin: 0;
        }

        h3 {
            color: $primary;
        }

        h4 {
            color: rgb(214, 220, 230);
            font-size: 14px;
            font-weight: 100;
        }
        
    }

    #img-container {
        position: relative;
        @include flex(row, center, center);
        width: 100%;
        height: 100%;
        border-radius: 13px;
        transition: height 0.4s ease-out 10ms;
        overflow: hidden;
        flex-grow: 0;

        img {
            width: 100%;
            height: auto;
            //transition: width $card-transition, height $card-transition;
            //filter: brightness(0.2);
        }

        div {
            @include flex(row, center, center);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.0);
        
            h3 {
                color: aliceblue;
                text-shadow: 0 0 10px black;
                font-weight: 200;
                opacity: 0;
                transition: $overlay-transition;
                font-size: 16px;
            }  
            transition: $overlay-transition;
        }

        div:hover {
            background: rgba(0, 0, 0, 0.2);

            h3 {
                opacity: 1;
            }
        }
    }
}

.card:hover {
    box-shadow: 0 0 13px $dark-shadow;
    #img-container {
        height: 50%;
       // transition: height 0.5s ease-out 0ms;
        // img { 
        //     width: 105%;
        //     height: auto;
        // }
    }

    p {
        opacity: 1;
    }


}

h2 {
    font-size: 1.6em;
    color: $light-text;
}

p {
    font-size: 1em;
    color: $light-text;
}

button {
    border-radius: 50px;
    font-size: 18px;
    background-color: $extra;
    width: 100px;
    height: 40px;
    border: 0;
    box-shadow: 0px 0px 8px rgb(26, 31, 38);
    color: $light-text;
}

// @media screen and (min-width: 1500px) {

//     #page2 {
//         align-items: center;
//     }

// }

@media screen and (min-width: 2061px) {


    // .header {
    //     max-width: 1700px;
    // }

    #page2 > div, #page3 > div, #page1 > div{
        width: 1700px;
    }

    #page2 {
        justify-content: center;
    }

    #page3 {
        align-items: center;
    }

}

@media screen and (max-width: 1200px) {
    #page1 > div, #page4 > div {
        flex-direction: column;
        
    }

    #page4 > div {
        gap: 100px;
    }
}

@media screen and (max-width: 850px) {
    #main {
        > * {
            padding: 100px 20px;
            min-height: 350px;
            justify-content: center;
            

            > div {
                max-width: 490.4px;
            }
            
        }

        #page3 {
            align-items: center;
            > div {
                max-width: 316px;
            }
        }

        #page3 > div > div {
                justify-content: center;
        }
    } 
}